#home{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    min-height: calc(100vh - 300px);
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin: 20px;
    height: 500px;
    border: solid 1px #00a1fc;
    text-decoration: none;
    color: black;
}
.card img{
    width: 200px;
    border-radius: 15px;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.35s;
}
@media (max-width: 865px){
    #home{
        grid-template-columns: auto;
        
    }
    .card img{
        width: 50%;
    }
}