.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 300px);
}
.form form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}
.form input{
    width: 100%;
    padding: 10px;
    border: #00a1fc solid 1px;
    border-radius: 10px;
}
.form button{
    width: 100%;
    padding: 10px;
    border: none;;
    border-radius: 10px;
    background-color: #00a1fc;
    color: white;
    margin-top: 20px;
}